@forward "globals";
@use "../scss/util/" as u;
main {
  min-height: 100vh;
  overflow-x: hidden;
  header {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 4rem, 75rem);
    margin-inline: auto;
    .header-logo-cont {
      width: 15%;
    }
    .header-btn {
      background-color: var(--White);
      border: 2px solid var(--Pink);
      outline: none;
      padding: 7px 25px;
      border-radius: 2rem;
      color: var(--Pink);
      @include u.ff-body($font-size: 0.9rem);
    }
    .header-btn:hover {
      border: 2px solid var(--LightPink);
    }
  }
  .landing-page {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 75rem);
    margin-inline: auto;
    h1 {
      @include u.ff-heading($font-size: 2.2rem);
    }
    .landing-page-copy {
      padding-top: 1.5rem;
      @include u.ff-body($font-size: 1.025rem);
      width: 38%;
      line-height: 1.5rem;
      margin-inline: auto;
      text-align: center;
    }
  
    .get-started-btn {
      @include u.btn;
    }
    .get-started-btn:hover {
      background-color: var(--LightPink);
    }
    .illustration-wrapper {
      width: 60%;
      padding-top: 4rem;
    }
    .statistics-wrapper {
      display: flex;
      justify-content: space-between;
      width: 50%;
      text-align: center;
      padding-top: 6rem;
      .stats-h1 {
        @include u.ff-heading($font-size: 3.5rem);
      }
      .stats-p {
        @include u.ff-body($font-size: 1rem);
        color: var(--DarkCyan);
      }
    }
  }
  .cards-section {
    margin-top: 3rem;
    .card-1::before {
      content: url(/images/bg-section-top-desktop-1.svg);
    }
    .card-1::after {
      content: url(/images/bg-section-bottom-desktop-1.svg);
    }

    .card-content-wrapper {
      background-color: var(--PaleBlue);
      .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -0.5rem 0;
        width: min(100% - 4rem, 75rem);
        margin-inline: auto;
        .card-text-cont {
          width: 40%;
          .card-text {
            @include u.ff-heading($font-size: 2rem);
            padding-bottom: 1rem;
          }
          .card-copy {
            @include u.ff-body(1rem);
            line-height: 1.5rem;
          }
        }
        .card-img-cont {
          width: 50%;
        }
      }
    }
    .card-2 {
      padding: 3rem 0;
    }
    .card-3 {
      margin-top: 3rem;
    }
    .card-3::before {
      content: url(/images/bg-section-top-desktop-2.svg);
    }
    .card-3::after {
      content: url(/images/bg-section-bottom-desktop-2.svg);
    }
    .get-started-section {
      margin-top: 4rem;
      .get-started-copy {
        width: min(100% - 4rem, 75rem);
        text-align: center;
        margin-inline: auto;
        .get-started-heading {
          @include u.ff-heading(1.7rem);
        }
        .get-started-btn {
          @include u.btn();
        }
      }
    }
  }
  footer::before {
    content: url(/images/bg-footer-top-desktop.svg);
    position: absolute;
    max-width: 100%;
    margin-top: -9.9rem;
  }
  footer {
    position: relative;
    margin-top: 15rem;
    color: var(--White);
    .footer-content-wrapper {
      background-color: var(--DarkCyan);
      padding-bottom: 5rem;
      .footer-content {
        width: min(100% - 4rem, 75rem);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-content-left {
          width: 30%;
          #footer-logo {
            width: 50%;
            margin: 1rem 0 1.5rem 0;
          }
          .location-copy {
            @include u.ff-body($font-size: 1rem);
            line-height: 1.5rem;
          }
          .phone-wrapper {
            display: flex;
            margin-top: 1.5rem;

            #phone-copy {
              @include u.ff-body($font-size: 1rem);
              padding-left: 1rem;
            }
          }
          .email-wrapper {
            display: flex;
            margin-top: 1.5rem;

            #email-copy {
              @include u.ff-body($font-size: 1rem);
              padding-left: 1rem;
            }
          }
        }
        .footer-content-right {
          width: 50%;
          .news-letter-wrapper {
            margin-right: 15rem;
            #newsletter {
              text-transform: uppercase;
              @include u.ff-body($font-size: 1.5rem);
              font-weight: 600;
            }
            #newsletter-copy {
              padding-top: 1rem;
              @include u.ff-body($font-size: 1rem);
              line-height: 1.5rem;
            }
          }
          .email-box-wrapper {
            padding-top: 1.5rem;
            justify-self: flex-end;
            input[type="email"] {
              padding: 0.7rem;
              border: none;
              outline: none;
              width: 57%;
              border-radius: 5px;
            }
            #subscribe-btn {
              padding: 0.5rem 1rem;
              border-radius: 5px;
              border: none;
              outline: none;
              cursor: pointer;
              margin-left: 1.5rem;
              background-color: var(--Pink);
              @include u.ff-body($font-size: 0.9rem);
              color: var(--White);
            }
            #subscribe-btn:hover {
              background: var(--LightPink);
              transition: 0.5s ease-in;
            }
          }
        }
      }
    }
  }
}
