:root {
  --Pink: hsl(322, 100%, 66%);
  --LightPink: hsl(321, 100%, 78%);
  --PaleBlue: hsl(207, 100%, 98%);
  --DarkCyan: hsl(192, 100%, 9%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0, 0);
  --LightRed: hsl(0, 100%, 63%);
}
