@media (max-width: 700px) {
  .header-logo-cont {
    width: 30% !important;
    height: auto;
  }
  .header-btn {
    width: 30%;
    padding: 5px 15px !important;
  }
}
.landing-page {
  h1 {
    width: 80%;
    text-align: center;
    font-size: 1.7rem !important;
  }
  .landing-page-copy {
    width: 80% !important;
  }
}
