*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 100%;
}
img,
picture {
  max-width: 100%;
  display: block;
}
a,
a:visited,
a:active {
  text-decoration: none;
  display: block;
  padding-top: 1rem;
  color: var(--White);
}
a:hover{
    cursor: pointer;
}