@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

// Font Family
$ff-heading: "Poppins", sans-serif;
$ff-body: "Open Sans", sans-serif;

// Font Sizes
$fs-h1: 1.8rem;
$fs-h2: 1.4rem;
$fs-h3: 1.1rem;
$fs-body1: 1.5rem;
$fs-body2: 0.9rem;